@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  line-height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #0C0B13;
  color: #ACA5B7;
}

.text-primary {
  background: linear-gradient(165.01deg, #FFFFFF 60.48%, #3B2398 131.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.glow {
  background: linear-gradient(180deg, #3E229F 11.42%, #060310 178%), #D9D9D9;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
}

.modal {
  border: solid 1px transparent;
  border-radius: 24px;
  background-image: linear-gradient(345.04deg, #0E0D17 78.2%, #351D95 137.99%), linear-gradient(174.7deg, #4027A4 -6.17%, rgba(0, 0, 0, 0) 72.38%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.bg-opinion {
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(180deg, #151225 0%, #1E1A32 100%),  linear-gradient(112.43deg, #33295B 18.07%, rgba(0, 0, 0, 0) 100.73%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.bg-neutral {
  background: linear-gradient(96.11deg, #201E2A 45.17%, #0A0713 187.95%), #D9D9D9;
}

.service {
  border: solid 1px transparent;
  border-radius: 12px 12px 48px 48px;
  background-image: linear-gradient(180deg, #151225 0%, #1E1A32 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.modal-header {
  border: solid 1px transparent;
  border-radius: 80px;
  background-image: linear-gradient(304.7deg, #0B0A12 0.25%, #351D95 336.91%), linear-gradient(90.38deg, #4027A4 -18.14%, rgba(64, 39, 164, 0) 22.74%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.service-header {
  border: solid 1px transparent;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #151225 0%, #1E1A32 100%), linear-gradient(172.58deg, #52458B 9.03%, rgba(27, 22, 45, 0) 35.87%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.service-fore {
  border: solid 1px transparent;
  border-radius: 16px;
  border-bottom-left-radius: 48px;
  background-image: linear-gradient(209.67deg, #696293 -65.87%, #1E1A32 57.46%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.service-fore-hovered {
  border: solid 1px transparent;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #292442 0%, #1E1A32 100%), linear-gradient(172.58deg, #52458B 9.03%, rgba(27, 22, 45, 0) 35.87%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.service-back {
  border: solid 1px transparent;
  border-radius: 16px;
  border-bottom-left-radius: 48px;
  background-image: linear-gradient(209.67deg, #3D3661 -65.87%, #1E1A32 57.46%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.service-p {
  background: linear-gradient(316.29deg, #FFFFFF 29.32%,#3B2398 185.84%), #B8B6BD;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.8;
}

.modal-grid-box {
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(252.02deg, rgba(24, 15, 61, 0) -19.47%, #120D2B 42.19%), linear-gradient(180deg, #3D259D 0%, rgba(0, 0, 0, 0) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.text-shadow {
  transform: scaleX(0);
  transform-origin: left;
  animation: text-shadow 250ms ease-out 1s forwards;
}

.text-shorten {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

@keyframes text-shadow {
  to {
    transform: scaleX(1);
  }
}

.home-project {
  border: solid 1px transparent;
  border-radius: 32px;
  background-image: radial-gradient(174.8% 165.83% at 5.19% 151.26%, #161320 3%, #0D0C13 98.96%), linear-gradient(223.22deg, rgba(187, 164, 246, 0.8) 23.38%, rgba(36, 16, 90, 0) 74.46%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-68vw);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(68vw);
  }
}

.animate-slide-left {
  animation: slide-left 20s linear infinite;
}

.animate-slide-right {
  animation: slide-right 20s linear infinite;
}

.star-horizontal {
  transform-origin: center;
  animation: scale-x 1s ease-in-out 400ms alternate infinite;
}

.star-vertical {
  transform-origin: center;
  animation: scale-y 1s ease-in-out 1400ms alternate infinite;
}

.animation-delay-100 {
  animation-duration: 3s !important;
}

@keyframes scale-y {
  from {
    transform: scaleY(100%);
  } to {
    transform: scaleY(0%);
  }
}

@keyframes scale-x {
  from {
    transform: scaleX(100%);
  } to {
    transform: scaleX(0%);
  }
}

.padding {
  padding-left: 8vw;
  padding-right: 8vw;
}

@media all and (min-width: 768px) {
  .padding {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media all and (min-width: 1536px) {
  .padding {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}